@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Nanum+Myeongjo:wght@700&family=Share+Tech+Mono&family=Tilt+Prism&display=swap");

* {
  font-family: "Nanum Myeongjo", serif;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#6365f19f, transparent);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#06b6d49e, transparent);
  border-radius: 6px;
}

@keyframes loopanimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}
